@model IEnumerable<LogFileListViewModel>

<h2>Uploaded log files</h2>
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center gap-2">
        <label class="fw-semibold ms-4 me-2">Sort by uploaded date:</label>
        <select id="dateSort" class="form-select form-select-sm w-auto">
            <option value="desc">Newest first</option>
            <option value="asc" selected>Oldest first</option>
        </select>
        <input type="text" id="searchInput" class="form-control form-control-sm w-auto" placeholder="Enter keyword..." />
        <a asp-controller="LogFiles" asp-action="Stats" class="btn btn-outline-secondary btn-sm">
            Statistics
        </a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>File name</th>
        <th>Uploaded on</th>
        <th>Rows</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var file in Model)
    {
        <tr>
            <td><a asp-controller="Log"
                   asp-action="Index"
                   asp-route-id="@file.Id"
                   class="text-decoration-none">
                @file.FileName
            </a></td>
            <td>@file.UploadedOn</td>
            <td>@file.Count</td>
            <td>
                <a asp-controller="LogFiles" asp-action="Delete" asp-route-id="@file.Id" class="btn btn-sm btn-danger">
                    Remove
                </a>
                <a asp-controller="LogFiles" asp-action="Download" asp-route-id="@file.Id" class="btn btn-sm btn-primary">
                    Download
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
